.projects-page-flexbox-wrapper {
    display: flex;
    font-family: Arial;
}

.projects-page-navigation-column {
    padding-left: 20px;
}

.projects-page-content-column {
    padding-left: 5%;
    padding-right: 20%;
}