#article-link {
  font-size: 20pt;
}

.navbar.navbar-light.navbar-expand-md {
  background-color: #ff8a80;
}

#logo-img {
  max-width: 70%;
  float: left;
  margin-left: 0px;
  margin-top: 2px;
  border-radius: 5px;
}

#logo-name {
  float: right;
  margin-right: 18px;
  margin-left: -10px;
  padding-top: 14px;
}

#logo-all {
  float: right;
}

.nav-item {
  font-size: 20px;
}

dl, ol, ul {
  list-style-type: none;
}

.other-articles {
  font-size: 20px;
}

#article {
  padding-top: 10px;
  float: left;
  text-align: initial;
}

.written-field {
  padding-top: 11px;
  font-size: 15px;
  text-align: right;
  opacity: 0.6;
}

.col-md-4.text-left.d-lg-flex.flex-column.justify-content-lg-start {
  padding-top: 10px;
}

#side-bar-item {
  float: right;
}

#other-posts {
  text-align: right;
}

.nav-item {
  padding-top: 24px;
}

#side-col {
  background-color: #eceff1;
  align-items: right;
}

#photo {
  background-color: #c85a54;
  text-align: center;
  padding-top: 35px;
}

#img {
  max-height: 300px;
  border-radius: 7px;
  padding-bottom: 20px;
  padding-left: 10px;
}

#descr {
  background-color: #eceff1;
  padding-top: 30px;
}

.col.subsection-link {
  text-align: center;
}

#table-of-contents {
  background-color: #eceff1;
  padding-bottom: 5px;
  padding-top: 5px;
}

.sub-section {
  padding-bottom: 15px;
  max-width: 90%;
  margin: auto;
}

#first-section-heading {
  padding-top: 15px;
}

#self-title {
  opacity: 0.5;
}

#course-title {
  opacity: 0.6;
}

#course-descr {
  padding-left: 10px;
}

.academic-course {
  padding-bottom: 10px;
}

#annotation {
  padding-bottom: 10px;
}

