.projects-page-flexbox-wrapper {
    display: flex;
    font-family: Arial;
}

.projects-page-navigation-column {
    padding-left: 20px;
    padding-top: 42px; /* should be roughly aligned with the header in projects-page-content-column */
}

.projects-page-content-column {
    padding-left: 13px;
    padding-right: 20%;
    padding-top: 30px; /* related to projects-page-navigation-column padding-top*/
}

.projects-page-navigation-column-button-tag {
    background-color: #ffffff;

    border: 0px;
    border-style: solid;
    border-radius: 5px;

    height: 100%;

    margin-bottom: 5px;
    margin-right: 0px;

    transition-duration: 0.4s;
}

.projects-page-navigation-column-button-tag:hover {
    background-color: #C3D4E2;
}

.projects-page-navigation-column-button-sub-tag {
    font-size: 15px;
    text-align: left;
    width: 150px;
}