.site-navigator-container {
    background: #ffffffff;
    padding: 10px 10px 10px 10px;
    height: 40px;
}

.site-navigator-flex-wrapper {
    display: flex;
}
.site-navigator-individual-button {
    background-color: #ffffffff;
    width:33%;
}

.site-navigator-individual-button-itself {
    background-color: #ddefffff;
    border: 0px;
    border-style: solid;
    border-radius: 5px;
    width: 99%;
    height: 45px;

    font-family: Georgia;
}

