.header_img {
    /* center image */
    display: block;

    /* todo: fix these oversized margins, this is not good code practice*/
    /* ovesize margins to stretch header image to edge of screen*/
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;

    /* make the window for a header to appear in */
    /* fit the object to the given height + width parameters */
    object-fit: cover;
    width: 130%; /* need oversized image for oversized margins */
    height: 250px;
}

/* keep navbar items to the right of the page */
.pagemanager_nav {
    float: right;
    padding-right: 40px;
}

/* make navbar items appear horizontally */
.navbar_li {
    margin-left: 10px;
    display: inline;
}

/* restrict size of navigation item image*/
.nav_image {
    width: 40px;
    border-radius: 9px;
}