@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    /*background-color: #DBDBDB;*/
    font-family: 'Open Sans', sans-serif;
}

.welcome-message {
    padding-top: 80px;
    text-align: center;
}

.headline, .welcome-message {
    text-align: center;
}

.name-name {
    text-align: center;
}

.profile-photo-wrapper {
    text-align: center;
}

.profile-photo {
    width: 150px;
    border-radius: 50%;
}

.links {
    text-align: center;
}

.linkedin-image {
    width: 50px;
    border-radius: 30%;
    padding: 8px;
}

.github-image {
    width: 50px;
    border-radius: 30%;
    padding: 6px;
}
.twitter-image {
    width: 50px;
    padding: 6px;
}

.resume-icon {
    width: 50px;
    padding: 4px;
}

.subsections {
    text-align: center;
    position: absolute;
    left: 15%;
    right: 15%;
}